* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: mhFont;
  src: url(../text/MonsterHunter.ttf);
}

@font-face {
  font-family: mhFont2;
  src: url(../text/Monsterhunter02.ttf);
}

@font-face {
  font-family: 'Helvetica Rounded';
  src: url(../text/helvetica-rounded.otf);
}

:root {
  --primary-background: #e6dcc3;
  --secondary-background: #472a00;
  --secondary-background-gradient: #613b02;
  --primary-text: #0c4f57;
  --secondary-text: #1e1d1f;
  --main-buttons: #f4d78e;
  --main-buttons-gradient: #f7f2e8;
  --main-buttons-border: #c19550;
  --main-buttons-hover: #fedd51;
  --main-buttons-hover-gradient: #f7fbeb;
  --main-buttons-hover-border: #f19556;
  --correct: #5ffe51;
  --correct-border: #42b442;
  --wrong: #fe5751;
  --wrong-border: #ac4040;
}

body {
  background: var(--primary-background);
  color: var(--secondary-text);
  font-family: 'Helvetica Rounded', Helvetica, sans-serif;
}

.wrapper {
  max-inline-size: 1000px;
  margin-inline: auto;
}

/* TODO: needs to be a little more readable? */
h1 {
  font-family: mhFont;
  font-size: 2.2rem;
  color: var(--primary-text);
  text-align: center;
  text-shadow: 4px 4px 2px #616060;
  -webkit-text-stroke: 0.3px var(--secondary-text);
  margin-block-end: 30px;
  margin-block-start: 5px;

  @media screen and (width > 510px) {
    font-size: 3rem;
  }

  @media screen and (width > 850px) {
    font-size: 4rem;
    margin-block-end: 70px;
    margin-block-start: 20px;
  }
}

h2 {
  background: var(--main-buttons-border);
  display: inline;
  padding: 10px;
  font-size: 1.7rem;
  color: var(--secondary-text);
  -webkit-text-stroke: 0.25px var(--primary-background);
  border: 3px solid var(--secondary-background);
  border-radius: 10px;
  text-align: center;

  @media screen and (width > 850px) {
    font-size: 1.8rem;
    -webkit-text-stroke: 0.3px var(--primary-background);
  }
}

p {
  background: #b01028;
  text-align: center;
  font-size: 2rem;
  color: var(--primary-background);
  padding: 10px;
  inline-size: 50%;
  -webkit-text-stroke: 0.5px var(--secondary-text);
  border: 3px solid var(--secondary-background);
  border-radius: 10px;

  @media screen and (width > 850px) {
    font-size: 5rem;
  }
}

img {
  max-inline-size: 100%;
  display: block;
}

form {
  background: var(--main-buttons-border);
  border-radius: 10px;
  border: 5px solid var(--secondary-background);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  inline-size: 80%;
  block-size: 200px;
  padding: 10px;
  position: relative;
  gap: 20px;

  @media screen and (width > 510px) {
    padding: 30px;
    inline-size: 100%;
    flex-direction: row;
    top: -3px;
    justify-content: space-around;
  }
}

input {
  all: unset;
  display: block;
  background: var(--primary-background);
  border: 2px solid var(--secondary-text);
  border-radius: 10px;
  font-size: 1.5rem;
  text-align: center;
  inline-size: 100%;
}

input:focus {
  outline: none; /* Removes the default outline */
}

.btn-border-wrapper {
  transform: scale(1);
  border: 2px solid var(--secondary-background);
  background: var(--secondary-background);
  border-radius: 15px;
  display: inline-flex;
}

button {
  all: unset;
  cursor: pointer;
  padding: 15px;
  font-size: 1.3rem;
  background: linear-gradient(to top, var(--main-buttons) 75%, var(--main-buttons-gradient) 100%);
  color: var(--secondary-text);
  border-radius: 15px;
  border: 3px solid var(--main-buttons-border);
  -webkit-text-stroke: 1px var(--primary-background);
  width: 100%;
  text-align: center;
  position: relative;
  --spike-width: 20px;
  --spike-height: 12px;

  @media screen and (width > 850px) {
    font-size: 1.3rem;
  }
}

button::after {
  content: '';
  position: absolute;
  inline-size: 100%;
  block-size: var(--spike-height);
  background: var(--main-buttons-border);
  bottom: 0;
  left: 0;
  -webkit-mask-image: url('../svg-paths/svg-path.svg');
  -webkit-mask-size: var(--spike-width) var(--spike-height);
  transform: rotate(0.5turn);
  border-radius: 15px;
}

button:hover {
  background: linear-gradient(to top, var(--main-buttons-hover) 75%, var(--main-buttons-hover-gradient) 100%);
  border: 3px solid var(--main-buttons-hover-border);
}

button:hover::after {
  background: var(--main-buttons-hover-border);
}

.btn-border-wrapper:hover {
  border: 2px solid var(--main-buttons-hover-border);
  background: var(--main-buttons-hover-border);
}

#start-btn {
  font-family: mhFont2;
  -webkit-text-stroke: 0.5px var(--primary-background);
  font-size: 4rem;
}

.secondary-bg {
  background: repeating-linear-gradient(to right, var(--secondary-background) 0px, var(--secondary-background) 5px, var(--secondary-background-gradient) 8px, var(--secondary-background-gradient) 100px);
  inline-size: 100%;
  border-block: 3px solid var(--secondary-background);
  min-block-size: 80vh;
  display: flex;
  justify-content: center;

  @media screen and (width > 510px) {
    min-block-size: 77vh;
  }

  @media screen and (width > 850px) {
    padding: 10px;
    border: 5px solid var(--secondary-background);
    border-radius: 10px;
    min-block-size: 60vh;
  }
}

.extra-bg {
  background: var(--main-buttons-border);
  padding-block: 10px;
  border-block: 5px solid var(--secondary-background);

  @media screen and (width > 850px) {
    padding: 10px;
    border: 5px solid var(--secondary-background);
    border-radius: 10px;
  }
}

.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;

  grid-template-rows: auto auto auto auto 1fr;
  padding: 10px;
  gap: 1rem;
  inline-size: 100%;

  @media screen and (width > 850px) {
    padding: 20px;
    grid-template-rows: auto 1fr 1fr 1fr;
  }
}

.grid-el-correct,
.grid-el-wrong {
  border-radius: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 200px;
  position: relative;
  inline-size: 75%;
  padding: 10px;
}

.grid-el-correct {
  background: linear-gradient(to top, var(--correct) 75%, var(--main-buttons-hover-gradient) 100%);
  border: 3px solid var(--correct-border);
}

.grid-el-wrong {
  background: linear-gradient(to top, var(--wrong) 75%, var(--main-buttons-hover-gradient) 100%);
  border: 3px solid var(--wrong-border);
}

#correct-wrong-container {
  inline-size: 130%;
  scale: 0;
  transition: scale 250ms ease;

  @media screen and (width > 450px) {
    inline-size: 100%;
  }
}

#correct-wrong-container.is-visible {
  scale: 1;
}

#correct-wrong-img-01,
#correct-wrong-img-02 {
  block-size: 50px;
  display: inline;
  position: absolute;

  @media screen and (width > 850px) {
    block-size: 100%;
  }
}

#correct-wrong-img-01 {
  left: 5px;
}

#correct-wrong-img-02 {
  right: 5px;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  -webkit-text-stroke: 0.1px black;
  font-family: mhFont2;

  @media screen and (width > 850px) {
    font-size: 2rem;
  }
}

.timer-flex-layout {
  display: flex;
  justify-content: flex-end;
}

.timer-flex-layout img {
  block-size: 50px;

  @media screen and (width > 850px) {
    block-size: 70px;
  }
}

#timer {
  grid-column: 2;
  justify-self: end;
}

#question {
  grid-column: span 2;
}

#submit-btn {
  padding: 10px;
  font-size: 1.2rem;
}

#submit-btn,
#play-again-btn {
  --submit-spike-width: 15px;
  --submit-spike-height: 7px;
}

#submit-btn::after,
#play-again-btn::after {
  block-size: var(--submit-spike-height);
  background: var(--main-buttons-border);
  -webkit-mask-image: url('../svg-paths/svg-path.svg');
  -webkit-mask-size: var(--submit-spike-width) var(--submit-spike-height);
}

#submit-btn:hover::after,
#play-again-btn:hover::after {
  background: var(--main-buttons-hover-border);
}

#error-message {
  font-size: 1rem;
}

#score-card {
  inline-size: 100vw;
  min-block-size: 60vh;
  border-block: 3px solid var(--secondary-background);
  background: var(--main-buttons-border);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;

  @media screen and (width > 425px) {
    border: 3px solid var(--secondary-background);
    border-radius: 10px;
    inline-size: 100%;
  }

  @media screen and (width > 850px) {
    min-block-size: 40vh;
  }
}

#score-card h2 {
  border: none;
  background: none;
  top: 0px;
  font-family: mhFont2;
  -webkit-text-stroke: 0.1px var(--secondary-background);
  font-size: 2.3rem;

  @media screen and (width > 850px) {
    font-size: 3.5rem;
  }
}

ul {
  list-style: none;
  text-align: center;
  font-size: 1.5rem;
  color: var(--secondary-text);
}

.hide-content {
  display: none;
}

.visibility-hidden {
  visibility: hidden;
}

.show-content {
  display: block;
}
